// Branding
$mcpt-blue: #3737b4;
$mcpt-red: #fa023c;

$border-color: hsl(0, 0%, 80%);
$body-background-color: hsl(0, 0%, 98%);
$body-heading-color: hsl(252, 6%, 16%);
$body-text-color: hsl(0, 0%, 25%);
$link-color: $mcpt-blue;
$nav-child-link-color: $mcpt-blue;
$sidebar-color: hsl(0, 0%, 95%);
$base-button-color: hsl(0, 0%, 97%);
$btn-primary-color: $mcpt-blue;
$code-background-color: hsl(0, 0%, 100%);
$feedback-color: darken($sidebar-color, 5%);
$table-background-color: hsl(0, 0%, 100%);
$search-background-color: hsl(0, 0%, 100%);
$search-result-preview-color: hsl(260, 5%, 37%);